/* Estilos personalizados */
.bar-container {
    width: 100%;
    background-color: #f1f1f1;
    border-radius: 5px;
    margin-top: 10px;
}

.bar {
    width: 80%; /* Puedes cambiar el ancho para simular horas */
    height: 25px;
    background-color: red;
    border-radius: 5px;
}