
body{

    width: 50%; 
    margin: 0 auto;
    
}
#titulo{

    width: 450px;
    height: 50px;
    text-align: center;
   
    margin-top: 20px;
    margin-left: 20px;
    
    
}
#dentro{

    margin: -10px;
    border: 2px solid;
    margin-bottom: 24px;
}
#caja{

    height: 300px;
    width:  500px;
    border: 2px solid red;


}
#c1,#c2,#c3{

    height: 50px;
    width: 70px;
    border: 2px solid rgb(72, 0, 255);
    margin: 35px;

}

.tabla{

    margin: 30px;
    margin-top: 70px;


}